DOMAIN=domain.com
SUBDOMAIN=local
ORACLE_PASSWORD=password
ORACLE_USER=user
ORACLE_USER_PASSWORD=password

# MariaDB Settings
MARIADB_ROOT_PASSWORD=root
MARIADB_DATABASE=db_master
MARIADB_USER=admin
MARIADB_PASSWORD=password
